<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
    <link rel="stylesheet" href="/front_end/common.css">
    <link rel="stylesheet" href="/front_end/recommendation/recommendation.css">
</head>
<body>  
    <div class="mainbody">
        <div class="content">
            <div class="leftcont">

            </div>
            <div class="rightcont">
                <form action="http://127.0.0.1:5000/recommendation" method="post">
                    <label for="attribute1">Attribute 1:</label>
                <input type="text" name="attribute1" id="attribute1" required><br><br>

                <label for="attribute2">Attribute 2:</label>
                <input type="text" name="attribute2" id="attribute2" required><br><br>

                    <input type="submit" class="submit">
                </form>
            </div>
            

            </div>

        </div>

    </div>
    
</body>
</html>